build/
Android/app/src/main/obj/local/
Android/.idea/workspace.xml
Android/app/assets/
Android/.gradle/1.12/taskArtifacts/
Android/app/src/main/libs/
Android/local.properties
Android/lib/src/main/obj/
Android/lib/assets/
nginxDLC/logs/
Android/lib/src/main/libs/
