build/
Android/app/src/main/obj/local/
Android/app/assets/
Android/app/src/main/libs/
Android/lib/src/main/obj/local/
Android/lib/assets/
Android/local.properties
nginxDLC/logs/
Android/.gradle/
proj.pc/
**/.idea
**/*.iml
