[submodule "depends/cocos2d-x"]
	path = depends/cocos2d-x
	url = https://github.com/asmodehn/cocos2d-x.git
	branch = asmo_v3_dragonfall
[submodule "CMake"]
	path = CMake
	url = https://github.com/asmodehn/wkcmake.git
	branch = master
[submodule "depends/cocos2d-x-3rd-party-libs-bin"]
	path = depends/cocos2d-x-3rd-party-libs-bin
	url = https://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin.git
	branch = v3
