[submodule "depends/cocos2d-x"]
	path = depends/cocos2d-x
	url = https://github.com/asmodehn/cocos2d-x.git
	branch = asmo_v3_dragonfall
[submodule "CMake"]
	path = CMake
	url = https://github.com/asmodehn/wkcmake.git
	branch = master
[submodule "depends/database"]
	path = depends/database
	url = https://asmodehn@bitbucket.org/gps_df/database.git
