build/
Android/app/src/main/obj/local/
Android/app/assets/
Android/app/src/main/libs/
Android/lib/src/main/obj/local/
Android/lib/assets/
Android/lib/src/main/libs/
Android/local.properties
nginxDLC/logs/
Android/.gradle/1.12/taskArtifacts/
proj.pc/
Android/.idea/workspace.xml
Android/.idea/libraries/
Android/.idea/dictionaries/Ivan.xml
