[submodule "depends/cocos2d-x"]
	path = depends/cocos2d-x
	url = git://github.com/asmodehn/cocos2d-x.git
	branch = asmo_v3_dragonfall
[submodule "CMake"]
	path = CMake
	url = git://github.com/asmodehn/wkcmake.git
	branch = master
[submodule "depends/App42_Cocos2DX_SDK"]
	path = depends/App42_Cocos2DX_SDK
	url = git://github.com/asmodehn/App42_Cocos2DX_SDK.git
	branch = master
[submodule "depends/entityx"]
	path = depends/entityx
	url = git://github.com/asmodehn/entityx.git
	branch = master
[submodule "depends/android-basic-samples"]
	path = depends/android-basic-samples
	url = git://github.com/asmodehn/android-basic-samples.git
	branch = master
[submodule "depends/cocos2dx-store"]
	path = depends/cocos2dx-store
	url = https://github.com/asmodehn/cocos2dx-store.git
	branch = master
[submodule "depends/soomla-cocos2dx-core"]
	path = depends/soomla-cocos2dx-core
	url = https://github.com/asmodehn/soomla-cocos2dx-core.git
	branch = master
[submodule "depends/jansson"]
	path = depends/jansson
	url = https://github.com/asmodehn/jansson.git
